# Node / React
node_modules/
dist/
.env
.env.local

# .NET
bin/
obj/
*.user
*.suo
.vs/

# Visual Studio Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Local Supabase notes / secrets
Full Stack Portfolio Project_Architecture/Superbase.txt
